<ion-content>
  <ion-card>
    <div class="d-flex-center">
      <ion-card-header>
        <ion-card-title>Registro de usuario</ion-card-title>
      </ion-card-header>
      <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <ion-card-content>
        <ion-item>
          <!-- Nombre -->
          <app-login-custom 
          autocomplete="name" 
          [control]="form.controls.name" 
          type="text" 
          label="Nombre"
          icon="person-outline">
          </app-login-custom>
          <br><br>
        </ion-item>
          <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
            <br>
            <div *ngIf="form.controls.name.errors?.['required']">El nombre es requerido</div>
            <div *ngIf="form.controls.name.errors?.['minlenght']">El nombre debe de tener un largo minimo de 3 Caracteres</div>
          </div>
        
        <ion-item>
          <!-- Correo -->
          <app-login-custom 
          autocomplete="email" 
          [control]="form.controls.email" 
          type="email" 
          label="Correo" 
          icon="mail-outline">
          </app-login-custom>
          <br><br>
        </ion-item>
        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
          <br>
          <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
          <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>
        </div>

        <ion-item>
          <!-- Contraseña -->
          <app-login-custom 
          [control]="form.controls.password" 
          type="password" label="Contraseña" 
          icon="lock-closed-outline">
          </app-login-custom>
          <br><br>
        </ion-item>
        <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
          <br>
          <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>
        </div>
        <ion-col>
          <ion-button  expand="block" mode="md" class="submit" type="submit" [disabled]="form.invalid">
            Registrarse
            <ion-icon slot="end" name="person-add-outline"></ion-icon>
          </ion-button>
        </ion-col>
        
      </ion-card-content>
      </form>
    </div>
  </ion-card>
</ion-content>  