<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

      <!-- Correo -->
      <app-login-custom 
      autocomplete="email" 
      [control]="form.controls.email" 
      type="email" 
      label="Correo" 
      icon="mail-outline">
      </app-login-custom>
      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>
      </div>

      <!-- Contraseña -->
      <app-login-custom 
      [control]="form.controls.password" 
      type="password" label="Contraseña" 
      icon="lock-closed-outline">
      </app-login-custom>
      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>
      </div>
      
      <p routerLink="forgot-pass">¿Olvidaste tu contraseña?</p>

      <ion-button  expand="block" mode="md" class="submit" type="submit" [disabled]="form.invalid">
        Ingresar
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button class="ion-margin-top" expand="block" routerLink="sign-up" mode="md" fill="outline">
        Registrarse
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
      
    </form>
  </div>
</ion-content>  


<!-- <br><br><br><br><br><br><br><br><br><br><br>
  

<ion-content [fullscreen]="true">
  <ion-card >
    // <img alt="login_img" src="" />
    <ion-card-header>
      <ion-card-title>Inicio de Sesión</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user.usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="success" (click)="ingresar()">Ingresar</ion-button>
        </ion-col>
      </ion-row>
      <br>
      <p class="ion-text-center">¿Tienes cuenta de Google?</p>
      <br>
      <div class="icon-container">
        <ion-icon name="logo-google"></ion-icon>
      </div>
    </ion-card-content>
    
    <br><br>
  </ion-card>
</ion-content> -->
