
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-segment-button>
    <ion-segment-button value="gps">
      <ion-icon name="navigate"></ion-icon>
      <ion-label>GPS</ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button value="usuario">
      <ion-icon  name="fast-food-outline"></ion-icon>Usuario 
    </ion-segment-button> -->
  </ion-segment>
</ion-footer>



