<ion-content>
  <br><br><br><br><br><br><br><br><br><br>
  <ion-card>
    <div class="d-flex-center">
      <ion-card-header>
        <ion-card-title>Recuperar contraseña</ion-card-title>
      </ion-card-header>
      <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <ion-card-content>
        <ion-item>
          <!-- Correo -->
          <app-login-custom 
          autocomplete="email" 
          [control]="form.controls.email" 
          type="email" 
          label="Correo" 
          icon="mail-outline">
          </app-login-custom>
          <br><br>
        </ion-item>
          <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
            <br>
            <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
            <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>
          </div>
      <br>
        <ion-col>
          <ion-button  expand="block" mode="md" class="submit" type="submit" [disabled]="form.invalid">
            Recuperar
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-card-content>
      </form>
    </div>
  </ion-card>
</ion-content>  
